/* /*color palette: 
https://colorhunt.co/palette/44000d83142cad1d45f9d276
https://colorhunt.co/palette/2c36393f4e4fa27b5cdcd7c9
https://colorhunt.co/palette/000000282a3a735f32c69749
*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,200&display=swap');
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
header{
    display: inline;
}
.navbar-container{
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;

    padding-block: 1rem;
    z-index: 999;

    background-color: #1e202c
}
.navbar-container .nav-list ul{
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}
.navbar-container .nav-list li{
    list-style-type: none;
}
.navbar-container .nav-list li a{
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: white;
    padding: .5rem 1.5rem;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
.navbar-container .nav-list li:hover a{
    background-color: #cfaa6e;
    color: #282A3A;
}
.logo img{
    max-width: 10%;
    height: auto;
    color: white;
}
body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;

    background-color: black;
    color: white;
}
main{
    padding: 20px;
    
    display: flex;
    gap: 1.5rem;
}
h2{
    color: #cfaa6e;
    text-align: center;
    padding: 20px;
    background-color: #282a3a4a;
    border-radius: 5px;
}
h3{
    color: #cfaa6e;
    text-align: center;
}
h4{
    color: #cfaa6e;
}
#content{
    flex: 5;

    display: flex;
    flex-flow: column nowrap;
    gap: 2rem 2rem;
}
.main-contents{
    padding: 20px;
}
aside{
    flex: 1;
}
.profile header{
    text-align: center;
}
footer{
    padding: 20px;
    color: white;
    background-color: #282A3A;
    text-align: center;
}

.spec-details:hover{
    background-color: #DCD7C9;
    color: #13141a;
    padding: 5px;
    margin: 0;
}
.featured-image{
    width: 100%;
    max-height: 300px;

    object-fit: cover;
    object-position: center;
}
.profile img{
    width: 200px;
    background-color: #282A3A;
    border-radius: 10px;
}
.card{
    background-color: #13141a;
    border-radius: 10px;
    padding: 30px;
}
.jumbotron{
    font-size: 20px;

    position: relative;
    text-align: center;
    background-color: #1e202c;
    text-align: center;

    color: #ffffff;
}
.jumbotron h1{
    text-transform: uppercase;
}
.jumbotron img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 70%;
}
.caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-exp{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 3rem;
}
.item-exp{
    flex: 1 1 300px;
    padding: 20px;
}
.item-exp img{
    display: flex;
    margin: auto;
}
.photo img{
    max-width: 100%;
    height: auto;
}
.guitar-img{
    max-width: 100%;
    height: auto;
}
.scroll-up{
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 999px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    
    background: #cfaa6e;
    color: #1e202c;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
}
.scroll-up.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
@media screen and (max-width: 1200px) {
    main{
        flex-flow: column nowrap;
    }

    main aside{
        align-self: center;
    }
}

@media screen and (max-width: 768px) {
    nav ul{
        justify-content: center;
    }

    main aside{
        align-self: stretch;
    }
}